@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
body{
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6em;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: Extra-light 200 italic;
    color: #666666;
}
p{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: Extra-light 200 italic;
    color: #666666;
}
span{
    color: #666666;
}
ul{
    padding: 0;
    margin: 0;
}

/* Header */
#header{
    width: 100%;
    border-top: 5px solid #970e00;
}
.logo{
    width: 100%;
    margin-top: 40px;
    margin-left: 20px;
}
.soc_and_search_box{
    margin-top: 60px;
    margin-right: 20px;
    justify-content: flex-end;
}
.social_area{
    margin-left: 30px;
}
.social_area ul{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 30px;
}
.social_area ul li{
    display: inline-block;
    margin-right: 10px;
}
.social_area ul li a{
    background: #dadada;
    width: 28px;
    height: 28px;
    color: #fff;
    display: block;
    text-align: center;
    padding-top: 2px;
    border-radius: 50%;
}
.social_area ul li a:hover{
    background: #c8232c;
    transition: 0.6s;
}
.search_area{
    width: 210px;
}
.search_area input[type="text"]{
    width: 100%;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: #d4d4d4;
}
.search_area input[type="text"]:focus{
    border: 3px solid #c8232c;
    transition: 0.6s;
}
.input-field{
    position: relative;
}
.check-icon {
    size: 1px;
    width: 23px;
    height: 23px;
    background-color: #ffffff;
    color: #c8232c;
    right: 15px;
    position: absolute;
    top: 7px;
    border-radius: 10px;
    padding-top: 6px;
    padding-left: 6px;
}

/* main nav */
.slicknav_menu{
    display: none;
}

#main_menu{
    width: 100%;
    height: 50px;
    margin-top: 40px;
    background-color: #f0f0f0;
}
#main_menu ul{
    margin-left: -10px;
}
#main_menu ul li{
    display: inline-block;
    border-right: 1px solid #666666;
    text-align: center;
    margin-top: 0.8em;
}

#main_menu ul li:last-child{
    display: inline-block;
    border-right: none;
    text-align: center;
}

#main_menu ul li a{
    display: block;
    color: #666666;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 29px;
    padding-right: 29px;
    top: 50%;
    text-decoration: none;
}
#main_menu ul li a:hover{
    color: #c8232c;
    transition: 0.6s;
    text-decoration: underline;
}
#main_menu ul li a:active{
    color: #212d3a;
}

/* Slider */
span.carousel-control-prev-icon, span.carousel-control-next-icon{
    width: 50px!important;
    height: 50px!important;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
}
span.carousel-control-prev-icon:hover, span.carousel-control-next-icon:hover{
    background-color: #666666;
    border-radius: 10px;
    width: 52px!important;
    height: 52px!important;
    transition: 0.3s;
}
.carousel-control-prev{
    left: 0;
    width: 90px;
}
.carousel-control-next{
    right: 0;
    width: 90px;
}
#slide_menu{
    padding-top: 60px;
    border-bottom: 1px solid #e1e1e1;
}
#slide_menu img{
    display: block;
    margin: auto;
}
#banner_area{
    width: 100%;
    overflow: hidden;
}
#banner_area .item{
    width: 100%;
    overflow: show;
} 
#banner_area .item img{
    width: 100%;
    height: auto;
} 
.banner_text{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.banner_table{
    display: table;
    height: 100%;
    width: 100%;
}
.banner_align{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}
.banner_textarea{
    width: 1000px;
    margin: 0 auto;
}
.main_banner{
    float: right;
    width: 40%;
    margin-right: 0px;
}

.main_banner h3{
    font-size: 56px;
    font-weight: 100;
}
.main_banner p{
    float: right;
    width: 90%;
    margin-right: 30px;
}
.main_banner a{
    color: #c8232c;
    text-decoration: none;
    padding-left: 9px;
}
.main_banner a:hover{
    text-decoration: underline;
}

/* intro */
#intro{
    padding-top: 75px;
}
.about_side{
    width: 530px;
    padding-left: 20px;
}
.about_textarea{
    padding-top: 50px;
}
.img_text_area{
    display: inline-block;
    padding-right: 20px;
    padding-top: 50px;
}
.img_text_area img{
    float: left;
    padding-right: 10px;
}
.i_t_a_text{
    width: 100%;
    margin-left: 0px;
    text-align: left;
}
.title{
    padding-top: 10px;
    font-size: 16px;
}

/* shout */
#shout{
    padding-top: 90px;
}
.shout_block{
    position: relative;
}
.shout_block h4{
   position: absolute;
   padding-top: 30px;
   text-align: center;
}
.shout_block img{
    margin: 0 auto;
}
.shout_info_box_area{
    padding-top: 50px;
    margin-right: 20px;
}
.link_project{
    text-align: center;
    padding-top: 30px;
}
.link_project a{
    color: #c8232c;
    text-decoration: none;
}
.link_project a:hover{
    color: #c8232c;
    text-decoration: underline;
}
.shout_info_box img{
    display: block;
    margin: 0 auto;
    box-shadow: 1px 10px 7px -7px gray;
}

/* footer */
#footer{
    padding-top: 30px;
    margin-top: 70px;
    background-color: #f0f0f0;
}
.footer-col-title{
    padding-bottom: 25px;
}
.footer_container{
   padding-left: 20px;
   padding-right: 20px;
}
.footer_col_1{
    padding-left: 20px;
}
.footer_col_1 a{
    color: #c8232c;
}
.footer_col_1 img{
    padding-bottom: 10px;
    width: 95%;
    
}
.footer_read_more{
    display: block;
    text-align: right;
    color: #c8232c;
}
.footer_read_more:hover{
    color: #c8232c;
}
.footer_quick_links ul li {
    list-style-type: none;
   border-bottom: 1px solid #d4d4d4;
   margin-top: 8px;
}
.user{
    color: #c8232c;
}
.footer_quick_links ul li a{
   color: #c8232c;
}
.user:hover{
    color: #c8232c;
}
.latest_post p{
    padding-top: 10px;
    line-height: 1.2em;
    padding-bottom: 10px;
}
.contact_us input{
    width: 100%;
    border: none;
    background: #dddddd;
    margin-bottom: 5px;
}
.contact_us form{
    padding-right: 20px;
}
.footer_input::placeholder{
    padding-left: 10px;
    font-size: 13px;
    font-family: 'Work Sans', sans-serif;
    font-weight: Extra-light 200 italic;
    color: #666666;
}
.contact_us textarea{
    width: 100%;
    border: none;
    background: #dddddd;
}
.footer_input_sub_button{
    width: 50%;
    border-radius: 5px;
    color: #c8232c;
    text-transform: uppercase;
    font-size: 15px;
    padding-right: 20px;
}

/* copyrights */
#copyright{
    background: #d4d4d4;
    padding: 20px 0;
    color: #fff;
}
#copyright p{
    margin: 0;
}
#copyright .col-md-6:last-child{
    text-align: right;
}

@media only screen and (max-width: 1022px) {
    .slicknav_menu{
        display: block;
    }
    #main_menu{
        display: none;
    }
}

@media only screen and (max-width: 1022px) {
    .slicknav_menu{
        display: block;
    }
    #main_menu{
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .meet_team_side{
        padding-top: 50px;
        padding-left: 20px;
    }

    .shout_block{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .footer-col-title{
        padding-top: 10px;
    }

    .sm_footer{
        text-align: center;
    }

    .sm_footer_bottom{
        display: none;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1123px) {
    .search_area{
        display: none;
    }

    .soc_and_search_box{
        justify-content: flex-center;
    }

    #slide_menu{
        display: none;
    }
}
@media only screen and (min-width: 100px) and (max-width: 699px) {

    .search_area{
        display: none;
    }
    .social_area{
        display: none;
    }
    .soc_and_search_box{
        justify-content: center;
    }

    #slide_menu{
        display: none;
    }
}
